*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

li {
    display: inline;
  }

html {
    box-sizing:border-box;
    font-size: 62.5%;
}

.nav {
    list-style-type: none;
    margin-top: 8px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #FFFFFF;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.nav a {
    float: left;
    color: #000000;
    text-align: center; 
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
}

.nav a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.textcolor {
    color: #000000;
    width:1200px;
}

.imgsize {
    max-width: 100%;
    display: block;
    margin-top: -40px;
    margin-left: 0;
    margin-right: 0;
    height: 554px;
    width:1200px;
}

.container1 {
    position: relative;
    color:#FFFFFF;
    display: flex;
    max-width: 100%;
    width: 1200px;
    height: 554px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: flex-start;
}

.top-left {
    display: flex;
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: 26px;
    flex-wrap: wrap;
    width: 20%;
}
.bottom-right {
    display: flex;
    position: absolute;
    bottom: 100px;
    right: 30px;
    font-size: 26px;
    flex-wrap: wrap;
    width: 20%;
}
.websitename {
    display: flex;
    margin-top: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom:-25px;
}
.websitename2 {
    display: flex;
    margin-top: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.container0 {
    display: flex;
    justify-content: center;
}
.imgsize2{
    display: block;
    height: 48px;
    width: 48px
}
.width {
    margin-top: 5px;
    margin-left: 25px;
    width: 500px;
    border: 2px solid black;
    color: #000000;
}

.width0 {
    margin-top: 5px;
    width: 1200px;
    border: 2px solid black;
    color: #000000;
}
.headers {
    font-weight: bold;
    margin-left: 25px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
}
.cart {
    display: flex;
    margin-top: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom:-25px;
}
.imgsize3{
    display: block;
    height: 381px;
    width: 283.3px
}

.container2 {
    position: relative;
    color:#000000;
    display: flex;
    max-width: 100%;
    width: 1200px;
    height: 400px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.imgsize4{
    display: block;
    height: 285.75px;
    width: 212.5px
}

.container3 {
    position: relative;
    color:#000000;
    display: flex;
    max-width: 100%;
    width: 1200px;
    height: 369px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 0px;
}

.imgsize5{
    display: block;
    height: 213.333px;
    width: 160px;
    margin-top: 150px;
}
.container4 {
    position: relative;
    color:#000000;
    display: flex;
    max-width: 100%;
    width: 300px;
    height: 138.5px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
    align-content: center;
}
.textwidth {
    width: 160px;
    margin-top: 10px;
}   

.width2 {
    margin-top: 5px;
    width: 50px;
    border: 2px solid black;
    color: #000000;
}
.container5 {
    position: static;
    color:#000000;
    display: flex;
    max-width: 100%;
    width: 1200px;
    height: 369px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 0px;
}
.container6 {
    position: relative;
    color:#000000;
    display: flex;
    max-width: 100%;
    width: 450px;
    height: 454px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 25px;
    flex-wrap: wrap;
}
.container7 {
    position: relative;
    color:#000000;
    display: flex;
    max-width: 100%;
    width: 450px;
    height: 554px;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 25px;
}
.container8 {
    position: relative;
    color:#000000;
    display: flex;
    max-width: 100%;
    width: 450px;
    height: 100px;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 0px;
    flex-wrap: wrap;
}